body {
	color: white;
	background: #110000;
}

header {
	position: relative;
	text-align: center;
}

header img {
	max-width: 300px;
}

h1 {
	position: absolute;
	top: 15px;
	left: 40vw;
	font-family: "Comic Sans MS", "Comic Sans";
}

h2,h3 {
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans";
}

a {
	text-decoration: none;
	color: turquoise;
}
main {
	display: flex;
	justify-content: space-around;
}
nav {
	flex: 1;
	background: #333333;
	font-size: large;
	margin: auto;
	border: dashed 1px #555555;
	text-align: left;
}
nav ul {
	display: block;
	margin: auto;
	float: left;
}

nav li {
	background: #111111;
	display: block;
	text-align: center;
	margin: 0.5em auto;
	list-style: none;
	border-radius: 10px;
	padding: 0.5em;
	max-width: 9em;
}

section {
	flex: 4;
	margin: 0.5em 1em 0.5em 2em;
}

article {
	background: #222222;
	border: 1px dashed white;
	padding: 1em;
	overflow: auto;
	margin: 1em 0;
}

article img {
	height: 200px;
	float: right;
	margin: 0.5em;
}

p {
	margin: 0 1em;
	float: left:
}

aside {
	flex: 1;
}

aside img {
	max-width: 150px;
	margin: 0.5em 0.5em 4em 2em;
}
