body {
    background-color: #222222;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;

    color: white;
    height: 500px;
    margin: 10px 5px 0px 5px;
    border: 2px solid white;
    border-radius: 10px;
}